@model IEnumerable<Housing_RedBadgeMVC.Models.RatingModels.RatingListItem>

@{
    ViewBag.Title = "Index";
}

    <div class="create-housing-container">
        <p style="color: white; font-size: 12px;">
           Please add a rating to a specific housing. It helps other people Applying whether or not it is a safe location. If you'd like to add a rating, please click @Html.ActionLink("Add Rating", "Create", new { @style = "text-decoration: none" })
        </p>

    </div>

<table class="table table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HousingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ApplicantId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Posted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HousingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicantId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Posted)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.Id })*@

                @Html.Partial("_RatingEdit", item)
                @Html.ActionLink("Details", "Details", new { id = item.Id })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
