@model Housing_RedBadgeMVC.Models.HousingModels.HousingDetail

<div class="create-housing-container">
    <p style="color: white; font-size: 12px;">
        Here you can view details about <b>Housing ID @Html.DisplayFor(model => model.HousingId)</b>.
    </p>

</div>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HousingId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HousingId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitsAvailable)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitsAvailable)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsSafe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsSafe)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.HousingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
