@model IEnumerable<Housing_RedBadgeMVC.Models.HousingModels.HousingListItem>

<div class="create-housing-container">
<p style="color: white; font-size: 12px;">
    Here you can view current available housing in central Indiana detailing: Address, Units Available, Unemployment Voucher Acceptance, Affordable Section Type, Safety Rating. If you would like to add a new Housing listing, please click @Html.ActionLink("Add Housing", "Create", new { @style = "text-decoration: none" } )
</p>

</div>

<div class="row">
    @foreach (var item in Model)
    { 

    <div class="col-md-4">
        <div class="card-container">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/Housing/RetrieveImage/@item.HousingId" alt="housing image" height=250 width=250 >
                <div class="card-body">
                    <div>
                        <h5 class="card-title">
                            @Html.DisplayFor(modelItem => item.Name)
                            @Html.DisplayFor(modelItem => item.IsSafe)
                        </h5>
                    </div>

                    <p class="card-text">@Html.DisplayFor(modelItem => item.Address)</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Units Available: @Html.DisplayFor(modelItem => item.UnitsAvailable)</li>
                    <li class="list-group-item">Accepts Vouchers: @Html.DisplayFor(modelItem => item.AcceptVoucher)</li>
                    <li class="list-group-item">Type: @Html.DisplayFor(modelItem => item.Section)</li>
                </ul>
                <div class="card-body" style="text-align: center">
                    @*<a href="#" class="card-link">@Html.ActionLink("Edit", "Edit", new { id = item.HousingId })</a>*@
                    @Html.Partial("_Edit", item)
                    @*<a href="#" class="card-link">@Html.ActionLink("Details", "Details", new { id = item.HousingId }, new { @style = "padding-left: 10px" })</a>*@
                    @Html.Partial("_Details", item)
                    <a href="#" class="card-link">@Html.ActionLink("Delete", "Delete", new { id = item.HousingId })</a>
                </div>
            </div>
        </div>
    </div>
    }
</div>