@model IEnumerable<Housing_RedBadgeMVC.Models.HousingModels.HousingListItem>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HousingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitsAvailable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsSafe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AcceptVoucher)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionType)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.HousingId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.UnitsAvailable)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.IsSafe)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AcceptVoucher)
    </td>
    <td>
            @Html.DisplayFor(modelItem => item.SectionType)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.HousingId }) |
        @Html.ActionLink("Details", "Details", new { id = item.HousingId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.HousingId })
    </td>
</tr>
}

</table>
